body{
    font-family: 'Poppins', sans-serif;
}
.color-orange{
    color: orange;
}
.mission-border
{
    border-left: 3px orangered solid;
    border-radius: 1px;
}
.button{
    background-color: rgb(221, 85, 85);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 50%;
}
.center-position{
    text-align: center;
}
.icon{
    width: 30%;
    
}
#colorblue{
    background-color: rgb(174, 174, 199);
}
#colorred{
    background-color: rgb(211, 174, 174);
}
#coloryellow{
    background-color: rgb(206, 206, 143);
}
.missionitem{
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 10px;
    border-radius: 10px;

}
.image-width{
    width: 60%;
    padding-left: 10%;
}
.background-develope{
    background-image:url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px 300px;
    
    
}
.background-community{
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 300px 300px;
    
}
.margin{
    margin-right: 5%;
    margin-left: 5%;

}
.color-white{
    color: white;
}
footer{
    background-color: rgb(15, 14, 19);  
}
